body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 80px;
}

h2 {
  color: #992e0f;
}

h3 {
  line-height: normal;
}

span {
  font-weight: bold;
  font-variant: small-caps;
}

header {
  background: linear-gradient(rgba(0, 0, 0, .25), rgba(0, 0, 0, .25)), url('css-img/brendan3.jpg') no-repeat center center fixed;
  height: 100vh;
  background-size: cover;
  color: white;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.content {
  max-width: 1000px;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 30px;
}

.brendan-img {
  width: 100%;
  max-width: 800px;
  padding: 1%;
  border-radius: 15px 50%;
}

.bananas-img {
  width: 30%;
  max-width: 100px;
  float: left;
  padding-right: 8px;
  padding-bottom: 3px;
  border-radius: 15px 50%;
}

@media screen and (max-width: 730px) {
  header {
    background-position: -325px 0;
  }
}

@media screen and (max-width: 580px) {
  header {
    background-position: -550px 0;
  }
}
