html {
  /*background: url(https://i.ytimg.com/vi/c7oV1T2j5mc/maxresdefault.jpg) no-repeat center center fixed;*/
}

body {
  font-family: 'Roboto', sans-serif;
  /*background: linear-gradient(rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url('https://i.ytimg.com/vi/c7oV1T2j5mc/maxresdefault.jpg') no-repeat center center fixed;
  background-size: cover;*/
  /*color: white;*/
}

h1 {
  font-size: 80px;
  /*font-family: 'UnifrakturCook', cursive;*/
}

span {
  font-weight: bold;
  font-variant: small-caps;
}

/*.green is a class i apply to elements when i just want to make sure I'm selecting the area that I think I am*/
/*.green {
  background-color: green;
}*/

header{
  background: linear-gradient(rgba(0, 0, 0, .25), rgba(0, 0, 0, .25)), url('css-img/brendan3.jpg') no-repeat center center fixed;
  /*background-image: url(css-img/brendan2.jpg);*/
  height: 100vh;
  background-size: cover;
  color: white;

}

.name{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.content {
  max-width: 800px;
  margin-top: 20px;
  padding: 20px;
  /*background-color: inherit;*/
  /*border: 4px solid black;*/
}

.brendan-img {
  width: 100%;
  max-width: 800px;
  padding: 1%;
  border-radius: 15px 50%;
}

.bananas-img {
  width: 30%;
  float: left;
  padding-right: 8px;
  padding-bottom: 3px;
  border-radius: 15px 50%;
}
